<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/style/style.css}" />
</head>

<body class="body-form">
    <a th:onclick="'window.location.href = \'' + @{/api/v1/tasks} + '\''" class="a-main">Главная страница</a>

    <h1>Error</h1>
    <h2>произошла непредвиденная ошибка!</h2>

    <button th:onclick="'window.location.href = \'' + @{/api/v1/tasks} + '\''" class="bttn bttn-or" style="width: 25%; ">Вернуться на главную</button>
</body>
</html>